.red-text {
  color: red;
}
.center {
  text-align: center;
}
.arial {
  font-family: Arial;
}
.brown-text {
  color: brown;
}
.blue-text {
  color: blue;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.border-thin {
  border: 1px solid gray;
  padding: 10px;
}
.border-thick {
  border: 3px solid gray;
  padding: 10px;
}
.round {
  border-radius: 5px;
}
.shadow-sm {
  box-shadow: 2px 2px 4px gray;
}
.shadow-lg {
  box-shadow: 5px 5px 7px gray;
}
.bg-beige {
  background-color: beige;
}
